# Homework for Lesson 3: Intro to Pandas

## **Φτιάχνουμε ένα notebook αναφοράς στα βασικά εργαλεία των Pandas**
Το notebook αυτό θα μπορείτε να το χρησιμοποιήσετε μελλοντικά.

**Χρησιμοποιούμε το αρχείο `animals.csv` (από το repository του Lesson 3 στο github) για να απαντήσουμε στις παρακάτω ερωτήσεις.** 

## We're going to make a notebook that you could use it as reference to basic Pandas tools for future use

We'll use the **'animals.csv'** file (from Lesson 3 repository in github), to answer the following questions.

## 0) Setup

Κάντε Import pandas **με την σωστή ονομασία** και εισάγετε την `matplotlib.pyplot` για να εμφανίζονται τα γραφικά στο notebook.

> **Note**: η εντολή για την εισαγωγή της matplotlib.pyplot υπάρχει στο notebook του Lesson 3, στην ενότητα "Εισαγωγή βιβλιοθηκών στην Python" > "Εισαγωγή βιβλιοθήκης με σύντομο όνομα" 

Import pandas **with the right name** and import `matplotlib.pyplot` in order to print graphs in thw notebook.

> **Note**: you can find the code to import matplotlib.pyplot in Lesson 3 notebook (section: "Importing libraries in Python" > "Importing a library with a sort name")

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

## 1) Διαβάστε το csv - Read the csv file (with pandas)

> **Note**: remember to use the **raw** file's url

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/datajour-gr/DataJournalism/main/Bachelor%20Lessons%202023/Lesson%203/animals.csv")
df

  animal        name  length
0    cat        Anne      35
1    cat         Bob      45
2    dog  Egglesburg      65
3    dog       Devon      50
4    cat     Charlie      32
5    dog    Fontaine      35

## 2) Τσεκάρετε τα δεδομένα - Review the data

Τυπώστε τον αριθμό γραμμών και στηλών καθώς και το όνομα και τον τύπο δεδομένων της κάθε στήλης (column).

Print the number of lines and columns, as well as the name and data type of each column.

In [ ]:
df.shape

(6, 3)

In [ ]:
df.columns

Index(['animal', 'name', 'length'], dtype='object')

In [ ]:
df.dtypes

animal    object
name      object
length     int64
dtype: object

## 3) Τυπώστε τα πρώτα 3 και τα τελευταία 2 ζώα

### Print the first 3 and the last 2 lines

In [ ]:
df.head(3)

  animal        name  length
0    cat        Anne      35
1    cat         Bob      45
2    dog  Egglesburg      65

In [ ]:
df.tail(2)

  animal      name  length
4    cat   Charlie      32
5    dog  Fontaine      35

## 4) Σορτάρετε τα ζωά για να τυπώσετε τα 3 μακρύτερα

### Sort animals to print the 3 top ones regarding length

> **Note**: Χρησιμοποιήστε το `.head()` μετά το sort!

> Use `.head()` after sorting!

In [ ]:
df.sort_values('length', ascending = False).head()

  animal        name  length
2    dog  Egglesburg      65
3    dog       Devon      50
1    cat         Bob      45
0    cat        Anne      35
5    dog    Fontaine      35

## 5) Τυπώστε όλα τα στατιστικά μεγέθη από τα μήκη των ζώων

### Print all statistical values for animals' lengths (minimum, maximum, mean, median, standard deviation)

In [ ]:
df.length.min()

32

In [ ]:
df.length.max()

65

In [ ]:
df['length'].mean()

43.666666666666664

In [ ]:
df.length.median()

40.0

In [ ]:
df.length.std()

12.516655570345725

In [ ]:
df.length.sum()

262

In [ ]:
df.corr()

<ipython-input-17-2f6f6606aa2c>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

        length
length     1.0

## 6) Πόσες γάτες και πόσοι σκύλοι υπάρχουν στα δεδομένα? 

### How many cats and how many dogs are there in the dataset?

In [ ]:
df[df['animal'] == 'cat'].head()

  animal     name  length
0    cat     Anne      35
1    cat      Bob      45
4    cat  Charlie      32

In [ ]:
df[df['animal'] == 'dog'].head()

  animal        name  length
2    dog  Egglesburg      65
3    dog       Devon      50
5    dog    Fontaine      35

## 7) Τυπώστε μόνο τους σκύλους 

### Print only the dogs

> **Note**: Δείτε στο Lesson 3 την ενότητα 7 - Φιλτράρισμα (filtering). Ίσως είναι πιο εύκολο να τυπώσετε πρώτα τη λίστα με τα `True`/`False` και μετά να βάλετε την εντολή μέσα σε ένα ακόμα `df[]`.

See Lesson 3, section: 7 - Φιλτράρισμα (filtering). It might be easier to print the list with `True`/`False` values first and then to put the code in a `df[]`.

In [ ]:
df['animal'] == 'dog'

0    False
1    False
2     True
3     True
4    False
5     True
Name: animal, dtype: bool

In [ ]:
df[df['animal'] == 'dog']

  animal        name  length
2    dog  Egglesburg      65
3    dog       Devon      50
5    dog    Fontaine      35

## 8) Τυπώστε τα ζώα με μήκος μεγαλύτερο από 40cm

### Print animals with length greater than 40cm

In [ ]:
df[df['length'] > df['length'].mean()].head()

  animal        name  length
1    cat         Bob      45
2    dog  Egglesburg      65
3    dog       Devon      50

## 9) `length` είναι το μέγεθος των ζώων σε εκατοστά. Φτιάξτε μια νέα στήλη που να λέγεται  `length in m` και αντιστοιχεί στο μέγεθος των ζώων σε μέτρα. 

### `length` is measured in centimeters. Create a new column named `length in m` with lengths calculated in meters.

In [ ]:
df['length'] / length in m

NameError: ignored

## 10) Σώστε τις γάτες σε μια νέα μεταβλητή που να λέγεται  `cats` και σε μια άλλη τους σκύλους `dogs`. 

### Create a new variable named `cats` that will contain only the cats and another one named `dogs` for the dogs.

## 11) Τυπώστε όλα τα ζώα που είναι γάτες και το μήκος τους είναι πάνω από 12 εκατοστά 

**Πρώτα** κάντε το χρησιμοποιώντας την μεταβλητή `cats` και **μετά ξανά** σε όλο το `df`.

> **Note**: Για πολλαπλά conditions, χρησιμοποιήστε `df[(one condition) & (another condition)]`

### Print all animals that are cats with length greater than 12cm

Do it twice: 1) use `cats` variable, 2) use the whole dataframe

> **Note**: multiple conditions are coded like this: `df[(one condition) & (another condition)]`. See section 7.2 Φιλτράρισμα βάση ΠΟΛΛΩΝ συνθηκών (filtering based on multiple conditions) in Lesson 3 notebook.

## 12) Ποιο είναι το μέσο (mean) μήκος της γάτας και ποιο του σκύλου? 

### Print the average length (mean) for cats and for dogs

## 13) Αν δεν το κάνατε ήδη χρησιμοποιήστε το `groupby` για να ξανατυπώσετε το #12 

### In case you haven't done so, use `groupby` to print #12

## 14) Φτιάξτε ένα οριζόντιο γράφημα με τα μήκη των ζώων και με το όνομά τους στο label

> **Notes**: Δείτε στο notebook του Lesson 3 την ενότητα "10.2. Γράφημα 2 μεταβλητών"

> Αν σας παιδεύει, δοκιμάστε να αλλάξετε τις στήλες στους άξονες x και y

> Μπορείτε να αλλάξετε το μέγεθος του γραφήματος προσθέτοντας `figsize=(5,3)` στις παραμέτρους της plot() και αλλάοντας τους αριθμούς στην παρένθεση για να δείτε πώς λειτουργεί

### Print an horizontal bar chart for animals' lengths with their names in labels

> **Notes**: see chapter "10.2. Γράφημα 2 μεταβλητών (graphs with 2 variables)"

> If the graph doesn't show up, try to swap columns in axes x and y

> You can also change the graph's size by adding `figsize=(5,3)` in plot() parameters and try some values inside the parenthesis to see how it works

## 15) Φτιάξτε ένα σορταρισμένο οριζόντιο γράφημα με τις γάτες και οι μακρύτερες να βρίσκονται στην κορυφή. 

> **Note**: Δοκιμάστε διαφορετικά χρώματα. 

> Δείτε πώς, στο Lesson 3 στο τέλος της ενότητας "10.1 Γράφημα των τιμών μιας μεταβλητής"

> Μπορείτε να δείτε μια λίστα με τα named colors της matplotlib [εδώ](https://stackoverflow.com/questions/22408237/named-colors-in-matplotlib).

### Print an horizontal bar chart sorted by cats' length - the longer ones should be on top

> **Note**: Try to use different colors.

> See how to do it at the end of section "10.1 Γράφημα των τιμών μιας μεταβλητής" (graphs with one variable)

> A list with matplotlib's named colors can be found [here](https://stackoverflow.com/questions/22408237/named-colors-in-matplotlib).